* {
    padding: 0;
    margin: 0;
}

.center-fulldiv-margin-width {
    width: 72%;
    margin: auto;
}

.top {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.top>div {
    padding-top: 10px;
}

.top>div:nth-child(2) {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-left: 50px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.centerFirstDiv>div:nth-child(1) {
    display: flex;
    padding-top: 20px;
}

.about {
    padding-right: 20px;
}

.forum {
    padding-right: 20px;
}

.buy {
    padding-right: 10px;
}

.login {
    padding-left: 20px;
}

.blogzineFullDiv {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    width: 87%;
}

.blogzineSpam {
    display: flex;
}

.home {
    padding-right: 20px;
}

.pages {
    padding-left: 20px;
}

.post {
    padding-left: 20px;
}

.lifestyle {
    padding-left: 20px;
}

.component {
    padding-left: 20px;
}

.subscribe {
    border: 1px solid black;
    width: 90px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.trending {
    border: 1px solid black;
    width: 70px;
    padding-left: 10px;
    padding-top: 5px;
    height: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.lifestyleFlex {
    display: flex;
    padding-top: 30px;
    width: 100%;
}

.lifestyleDiv {
    border: 1px solid black;
    width: 40%;
    border-radius: 10px;
    height: 504px;
    position: relative;
}

.imgfix {
    position: absolute;
}

.img-fix-lifestyle {
    width: 600px;
    height: 300px;
}

.width-lifestyle-top {
    text-align: left;
    width: 80%;
}

.width-lifestyle-h2-top {
    text-align: left;
    width: 65%;
}

.louis {
    display: flex;
}

.louislist {
    display: flex;
}

.louis2021 {
    margin-left: 50px;
}

.louisRead {
    margin-left: 50px;
}

.technologyFullDiv {
    width: 67%;
    padding: 40px;
    margin-left: 20px;
    height: 150px;
    position: relative;
}

.img-tec {
    position: absolute;
    width: 100%;
    height: 232px;
    bottom: -1px;
    right: -1px;
    border-radius: 10px;
}

.position-text-tec {
    position: absolute;
    bottom: 10px;
    color: white;
}

.technology-h2-topdiv {
    width: 75%;
}

.bryan {
    display: flex;
}

.li-aug {
    margin-left: 50px;
}

.flex-bs {
    display: flex;
    width: 80%;
}

.border-busines {
    padding: 25px;
    margin: 20px;
    height: 200px;
    width: 90%;
    position: relative;
}

.business-img {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 1px;
    right: -1px;
    border-radius: 10%;
}

.poistion-business {
    position: relative;
    color: rgb(253, 253, 253);
    top: 100px;
}

.width-business {
    border: 1px solid rgb(7, 214, 204);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(7, 214, 204);
    border-radius: 5px;
}

.width-bussiness-h3 {
    width: 90%;
}

.flex-jj {
    display: flex;
}

.margin-li {
    margin-left: 50px;
}

.border-sports {
    height: 220px;
    width: 90%;
    margin-top: 20px;
    padding: 15px;
    position: relative;
}

.img-sports {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 250px;
    top: -1px;
    border-radius: 10px;
}

.poistion-sports {
    position: relative;
    color: white;
    top: 110px;
}

.width-sports-h3 {
    width: 70%;
}

.flex-ul {
    display: flex;
}

.margin-li-sports {
    margin-left: 40px;
}

.flex-div {
    display: flex;
    padding-top: 20px;
}

.border-ul-technology {
    height: 250px;
    width: 42%;
    padding: 30px;
    position: relative;
}

.img-tec-center {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 312px;
    top: -1px;
    border-radius: 10px;
}

.flex-tt-img {
    display: flex;
}

.border-ul-travel {
    width: 38%;
    padding: 30px;
    margin-left: 20px;
    position: relative;
}

.img-travel {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 310px;
    top: -2px;
    border-radius: 10px;
}

.width-highlight-side {
    width: 66%;
}

.flex-ul-tt {
    display: flex;
    padding-top: 20px;
}

.flex-tt-para {
    display: flex;
    padding-top: 20px;
}

.flex-t-para-padding {
    margin-left: 90px;
}

.flex-t-width {}

.flex-t-para-width {
    padding-top: 10px;
}

.flex-t-secondpara-width {
    padding-top: 10px;
}

.width-h2-t {
    width: 100%;
}

.sidefulldiv-margin {
    margin-left: 10px;
}

.flex-fans {
    display: flex;
}

.fans-border {
    border: 1px solid black;
    height: 60px;
    padding: 20px;
    width: 15%;
    text-align: center;
}

.followers-border {
    border: 1px solid black;
    height: 80px;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-top: 20px;
}

.sub-border {
    border: 1px solid black;
    height: 60px;
    padding: 20px;
    width: 15%;
    text-align: center
}

.flex-gs {
    display: flex;
    padding-top: 20px;
}

.border-gadgets {
    height: 250px;
    width: 42%;
    padding: 30px;
    position: relative;
}

.img-gadgets {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 310px;
    top: -1px;
    border-radius: 10px;
}

.border-sports-secondu-ul {
    width: 38%;
    padding: 30px;
    margin-left: 20px;
    position: relative;
}

.img-center-sports {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 310px;
    top: -1px;
    border-radius: 10px;
}

.seconddiv-gadgets {
    display: flex;
    padding-top: 20px;
}

.seconddiv-gadgets-fullwidth {
    width: 82%;
}

.seconddiv-sports-fullwidth {
    width: 78%;
    margin-left: 10px;
}

.secondiv-gadgets-parawidth {
    width: 90%;
}

.seconddiv-sports-parawidth {
    width: 95%;
}

.flex-samuel {
    display: flex;
    margin-left: 50px;
    padding-top: 30px;
}

.jan-margin-ul {
    margin-left: 30px;
}

.flex-deeni {
    display: flex;
    margin-left: 50px;
    padding-top: 30px;
}

.mar-margin-ul {
    margin-left: 30px;
}

.flex-fullul {
    display: flex;
}

.bryan-flex {
    display: flex;
    margin-left: 50px;
    padding-top: 30px;
}

.margin-jun-ul {
    margin-left: 30px;
}

.flex-billy {
    display: flex;
    margin-left: 50px;
    padding-top: 30px;
}

.dec-margin-ul {
    margin-left: 30px;
}

.flex-mp {
    display: flex;
    padding-top: 20px;
}

.border-marketing {
    height: 250px;
    width: 42%;
    padding: 30px;
    position: relative;
}

.img-center-market {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 310px;
    top: -1px;
    border-radius: 10px;
}

.border-photo {
    width: 38%;
    padding: 30px;
    margin-left: 20px;
    position: relative;
}

.img-center-photo {
    position: absolute;
    width: 100%;
    right: 1px;
    height: 310px;
    top: -1px;
    border-radius: 10px;
}

.flex-mp-para {
    display: flex;
    padding-top: 20px;
}

.photography-width {
    width: 85%;
}

.photography-h2-width {
    width: 90%;
}

.photography-para-width {
    width: 85%;
}

.marketing-h2-width {
    width: 80%;
}

.marketing-para-width {
    width: 80%;
}

.flex-carolyn-ul {
    display: flex;
    padding: 30px;
}

.ul-margin-sep {
    margin-left: 30px;
}

.marketingfull-para-width {
    width: 90%;
}

.jacqueline-flex {
    display: flex;
    padding: 30px;
}

.margin-ul-nov {
    margin-left: 30px;
}

.margin-topic {
    margin-top: 20px;
}

.border-travel-heading {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.border-business-heading {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.border-marketing-heading {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.border-photography-heading {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.border-sports-heading {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.line-categories {
    text-align: center;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 30px;
    margin-left: 90px;
    border-radius: 5px;
}

.width-recent-first {
    width: 50%;
    margin-top: 10px;
}

.color-may {
    color: gray;
}

.width-recent-second {
    width: 50%;
    margin-top: 20px;
}

.color-apr {
    color: gray;
}

.width-recent-third {
    width: 50%;
    margin-top: 10px;
}

.color-jun {
    color: gray;
}

.width-recent-four {
    width: 50%;
    margin-top: 20px;
}

.color-nov {
    color: gray;
}

.border-advertisement {
    border: 1px solid black;
    width: 50%;
    padding: 50px;
    margin-top: 50px;
    height: 250px;
    text-align: center;
}

.load-border {
    border: 1px solid black;
    position: relative;
    left: 350px;
    width: fit-content;
    padding: 10px;
    margin: 20px;
    background-color: cornflowerblue;
    color: darkblue;
    border-radius: 5px;
}

.width-sponsored {
    width: 90%;
}

.flex-h2-para-news {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 20px;
}

.flex-fourtitles {
    display: flex;
    margin-top: 30px;
}

.width-sponsore-fulldiv {
    width: 100%;
}

.bottom-marketing-border {
    border: 1px solid black;
    padding: 30px;
    height: 155px;
    width: 80%;
    border-radius: 10px;
}

.width-bottom-marketing-fulldiv {
    width: 22%;
}

.bottom-photography-border {
    border: 1px solid black;
    padding: 30px;
    height: 155px;
    width: 80%;
    border-radius: 10px;
}

.width-bottom-photo-fulldiv {
    width: 22%;
    margin-left: 40px;
}

.bottom-sports-border {
    border: 1px solid black;
    padding: 30px;
    height: 155px;
    width: 80%;
    border-radius: 10px;
}

.width-bottom-sports-fulldiv {
    width: 22%;
    margin-left: 40px;
}

.width-bottom-gadgets-fulldiv {
    margin-left: 40px;
    width: 22%;
}

.bottom-gadgets-border {
    border: 1px solid black;
    padding: 30px;
    height: 155px;
    width: 80%;
    border-radius: 10px;
}

.blogzine-bottom-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.center-align {
    width: 80%;
    margin: auto;
}

.blogzine-bottom-para-width {
    width: 35%;
}

.email-bottom-flex {
    display: flex;
    width: 400px;
}

.email-bottom-border {
    border: 1px solid white;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    color: grey;
    background-color: white;
}

.subscribe-bottom-border {
    border: 1px solid blue;
    padding: 15px;
    margin-left: 10px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: blue;
}

.privacy-bottom-margin {
    margin-left: 23%;
}

.boredr-background {
    background-color: rgb(28, 25, 25);
    margin-top: 50px;
    color: white;
}

.center-recent {
    margin-left: 4%;
    width: 92%;
    border-top: 1px solid grey;
    padding-top: 50px;
}

.recent-flex {
    display: flex;
}

.flex-width-bussines-blackbox {
    display: flex;
    margin-top: 30px;
}

.width-mobileapp-para-blackbox {
    width: 17%;
}

.blackbox-recent {
    width: 25%;
}

.blackbox-navigation-width {
    width: 15%;
}

.blackbox-news-padding {
    width: 13%;
    margin-top: 50px;
}

.blackbox-update-width {
    width: 22%;
}

.margin-balckbox-busines {
    margin-top: 25px;
    border: 1px solid red;
    padding: 4px;
    width: 30%;
    text-align: center;
    background-color: red;
    border-radius: 5px;
}

.margin-blackbox-features {
    margin-top: 25px;
}

.blackbox-margin-whatsapp {
    margin-top: 25px;
}

.blackbox-app-width {
    width: 22%;
}

.margin-blackbox-mobieapp-para {
    margin-top: 25px;
}

.width-blackb0x-busines-para {
    width: 75%;
}

.blackbox-marketing-color-margin {
    margin-top: 20px;
    border: 1px solid rgb(38, 131, 232);
    background: rgb(38, 131, 232);
    width: 30%;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

.blackbox-marketing-para-width {
    width: 70%;
}

.blackbox-hottopics-margin {
    margin-top: 50px;
    width: 85%;
}

.flex-job {
    display: flex;
}

.border-color-job {
    border: 1px solid red;
    background: red;
    margin-left: 10px;
    padding-left: 5px;
    width: 30%;
}

.border-lastdiv {
    border-top: 1px solid grey;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
}

.flex-lastdiv-p {
    display: flex;
}

.flex-width-margin-lastdiv {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.padding-english {
    padding-right: 30px;
    cursor: pointer;
}

.padding-terms {
    padding-right: 30px;
    cursor: pointer;
}

.padding-privacy {
    padding-right: 30px;
    cursor: pointer;
}

.pointer-cookie {
    cursor: pointer;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(90, 66, 66);
    width: 505px;
}

.rounded-corner-lifestyle {
    width: 100%;
    height: 505px;
    border-radius: 10px;
    position: absolute;
    right: 1px;
}

.bottom-left {
    position: absolute;
    top: 320px;
    left: 20px;
    color: white;
}

.border-color-style {
    border: 1px solid rgb(245, 11, 11);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(245, 11, 11);
    border-radius: 5px;
}

.border-color-tec {
    border: 1px solid rgb(245, 237, 11);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(245, 237, 11);
    border-radius: 5px
}

.border-color-sports {
    border: 1px solid rgb(18, 107, 202);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(18, 107, 202);
    border-radius: 5px
}

.border-color-center-technology {
    border: 1px solid rgb(245, 237, 11);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(245, 237, 11);
    border-radius: 5px;
    position: absolute;
    top: 250px;
}

.border-color-centertravel {
    border: 1px solid rgb(245, 11, 11);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(245, 11, 11);
    border-radius: 5px;
    position: absolute;
    top: 250px;
}

.border-color-centergadgets {
    border: 1px solid rgb(13, 201, 76);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(13, 201, 76);
    border-radius: 5px;
    position: absolute;
    top: 250px;
}

.border-color-centersports {
    border: 1px solid rgb(18, 107, 202);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(18, 107, 202);
    border-radius: 5px;
    position: absolute;
    top: 250px;
}

.border-color-centermarketing {
    border: 1px solid rgb(18, 107, 202);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(18, 107, 202);
    border-radius: 5px;
    position: absolute;
    top: 250px;
}

.border-color-centerphoto {
    border: 1px solid rgb(245, 11, 11);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(245, 11, 11);
    border-radius: 5px;
    position: absolute;
    top: 250px;
}

.border-color-bottommarketing {
    border: 1px solid rgb(18, 107, 202);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(18, 107, 202);
    border-radius: 5px
}

.border-color-bottomphoto {
    border: 1px solid rgb(245, 11, 11);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(245, 11, 11);
    border-radius: 5px;
}

.border-color-bottomsports {
    border: 1px solid rgb(18, 107, 202);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(18, 107, 202);
    border-radius: 5px
}

.border-color-bottomgadgets {
    border: 1px solid rgb(13, 201, 76);
    width: fit-content;
    padding: 4px;
    text-align: center;
    color: white;
    background: rgb(13, 201, 76);
    border-radius: 5px;
}