* {
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top>div {
    padding-top: 10px;
}

.top>div:nth-child(2) {
    position: relative;
    left: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    width: 80px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 80%;
}

.centerFirstDiv>div:nth-child(1) {
    display: flex;
    padding-top: 20px;
}

.about {
    padding-right: 20px;
}

.forum {
    padding-right: 20px;
}

.buy {
    padding-right: 10px;
}

.login {
    padding-left: 20px;
}

.blogzineFullDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    align-items: center;
}

.blogzineSpam {
    display: flex;
}

.home {
    padding-right: 20px;
}

.pages {
    padding-left: 20px;
}

.post {
    padding-left: 20px;
}

.lifestyle {
    padding-left: 20px;
}

.component {
    padding-left: 20px;
}

.subscribe {
    border: 1px solid black;
    width: 90px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.trending {
    border: 1px solid black;
    width: 80px;
    padding-left: 10px;
    padding-top: 5px;
    height: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.lifestyleFlex {
    display: flex;
    padding-top: 30px;
}

.lifestyleDiv {
    border: 1px solid black;
    width: 27%;
    padding: 50px;
    border-radius: 10px;
}

.louis {
    display: flex;
}

.louislist {
    display: flex;
}

.louis2021 {
    margin-left: 50px;
}

.louisRead {
    margin-left: 50px;
}

.technologyFullDiv {
    border: 1px solid black;
    width: 30%;
    padding: 50px;
    border-radius: 10px;
    margin-left: 40px;
}

.bryan {
    display: flex;
}